body {

  /* Full Page Background Receipe */
  background: url("../images/DannyWebpageWeb.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 560px;
  height: 40px;
  margin: 80px;
  margin-bottom: 40px;
  padding-left: 50px;
  padding-top: 0px;
  text-align: center;

}

.container-2 {
  width: 560px;
  height: 150px;
  margin: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 50px;
  text-align: center;
}

.container-3 {
  width: 560px;
  height: 360px;
  padding-left: 45px;
  text-align: center;
  margin: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.icon-container {
  width: 560px;
  height: 40px;
  margin: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 50px;
  text-align: center;
}

.container-4 {
  width: 350px;
  height: 630px;
  text-align: center;
  margin-left: 200px;
  margin-top: 10px;
  padding: 30px;
  font-family: 'Cabin', sans-serif;
  background: rgba(201,201,201,.7);
  border-radius: 10px;
}

h1  {
  font-family: 'Cabin', sans-serif;
  padding: 0px;
}

h3 {
  font-family: 'Cabin', sans-serif;
  padding: 0px;
  line-height: .5;
}

a{
  color:3366cc;
  text-decoration: underline;
}

a:visited{
  color:red;
  text-decoration: underline;
}

a:hover{
  color:yellow;
  text-decoration: underline;
}

a:active{
  color:maroon;
}

p {
  text-align: center;
  color: black;
}

.icon-container a {
  text-decoration: none;
}
