header {
  background-color: #27dbdb;
  height: 10em;
  width: 100%;
  margin: 0px;
}

.column {
  width: 40%;
  float:left;
  padding-left: 5%;
  padding-right: 5%;
}

.box-model {
  background-color: #db2727; 
  height: 300px;
  width: 300px; 
  border-style: dashed;
  border-radius: 5;
  padding: 20px;
  margin: 50px 20px;

}

body, p, h1{
  margin: 0px;
}

p {
  margin-bottom: 1em;
}

.clear {
  clear: both;
}

