.biography {
  color: rgb(47,79,79);
}

.header-name {
  color: rgb(6,67,128);
  text-align: center;
  font-family: 'Dr Sugiyama', cursive;
  background: gray url("../images/dimension_@2X.png");
}

.socials {
  text-align: center;
  font-size: 18px;
}

body {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  color: rgb(47,79,79);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sorts Mill Goudy', serif;
  color: rgb(6,67,128);
}

.section-title {
  color: rgb(6,67,128);
  text-align: center;
}

ul {
   list-style-type: none;
   padding-left: 0px;
}

div {
  background-color: #CCD6EB;
}

a:hover {
  color: yellow;
  }

a:visited {
  color: rgb(6,67,128);
}

a:active {
  color: orange;
}

a {
  text-align: center;
}