.top {

  font-family: "book antiqua", Georgia, serif;
  color: green;
  font-weight: italic;
  line-height: 1.5;
  text-align: center;

}

.middle {

  font-family: "comic sans ms", cursive, sans-serif;
  font-weight: bold;
  color: grey;
  text-shadow: 3px 3px 15px #ff00cc;

}

.bottom {

  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #000099;
  font-size: 1em;
  line-height: 4;

}