.biography {
  color: rgb(47,79,79);
}

.header-name {
  color: rgb(6,67,128);
  text-align: center;
  font-family: 'Dr Sugiyama', cursive;
}

body {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  color: rgb(47,79,79);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sorts Mill Goudy', serif;
  color: rgb(6,67,128);
}

.section-title {
  color: rgb(6,67,128);
  text-align: center;
}

ul {
   list-style-type: none
}

a:hover {
  color: rgb(128,6,135);
  }

a {
  text-align: center;
}